DJANGO_SECRET_KEY=change-me
DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost,0.0.0.0

MYSQL_DATABASE=rentify
MYSQL_USER=rentify
MYSQL_PASSWORD=change-me
MYSQL_ROOT_PASSWORD=change-me
MYSQL_PORT=3306
DOCKERHUB_USER=your-dockerhub-username
APP_NAME=rentify-backend
APP_TAG=latest
DJANGO_PORT=8000

OPENAI_API_KEY=
OPENAI_MODEL=gpt-4o-mini
